_site
.jekyll-cache
pages/.DS_Store
pages/tags.md
_notes/.obsidian
_notes/Public/.obsidian
_notes/compsci-notes/templates
_notes/compsci-notes/templates/new note.md
_notes/compsci-notes/learning resources